@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/barlow-v12-latin-600.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/fraunces-v31-latin-700.woff2") format("woff2");
  }
  @font-face {
    font-display: swap;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/fraunces-v31-latin-900.woff2") format("woff2");
  }

  :root {
    --color-soft-red: 7 99% 70%;
    --color-yellow: 51 100% 49%;
    --color-dark-desaturated-cyan: 167 40% 24%;
    --color-dark-blue: 198 62% 26%;
    --color-dark-moderate-cyan: 168 34% 41%;
    --color-very-dark-desaturated-blue: 212 27% 19%;
    --color-very-dark-grayish-blue: 213 9% 39%;
    --color-dark-grayish-blue: 232 10% 55%;
    --color-grayish-blue: 210 4% 67%;
    --color-white: 0 0% 100%;
  }
}
